<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">TODO List</a>

    <div class="dropdown show">
        <a class="btn btn-secondary " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
            &#9776;
        </a>  

        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
    </div>

    <!--
    <button class="btn btn-dark my-2 my-sm-0" (click)="openOptions()">
        &#9776;
    </button>
    -->
</nav>
